<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xu.servicequalityrater">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25"/>

    <uses-feature
        android:name="android.hardware.camera"
        />

    <uses-feature android:name="android.hardware.camera.autofocus"  />
    <uses-feature
        android:name="android.hardware.camera.front"
        />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label=""
            android:theme="@style/AppTheme_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".EmotionRecyclerActivity"
            android:label=""
            android:parentActivityName=".CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CameraActivity" />
        </activity>

        <receiver
            android:name=".services.HealthAlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name=".services.HealthPictureService2" />
        <service android:name=".services.CameraOneService" />

        <activity android:name=".TestActivity" />
        <activity
            android:name=".GraphActivity"
            android:label=""
            android:parentActivityName=".EmotionRecyclerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme_NoActionBar"></activity>

    </application>

</manifest>